* {
  font-family: "Comic Sans MS";
}

.header {
  margin: auto;
  width: 50%;
  height: 100px;
  text-align: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 38px;
}
body {
  background: linear-gradient(to right, rgb(73, 232, 203), violet);
}

.todoinput {
  width: 400px;
  height: 30px;
  border-radius: 6px;
}

.addbtn {
  width: 50px;
  height: 35px;
  background: linear-gradient(to right, rgb(28, 157, 255), rgb(25, 0, 255));
  border-radius: 6px;
  font-weight: 700;
}
.container {
  display: flex;
  position: relative;
  input {
    margin-left: 18px;
    width: 17px;
    top: 12px;
    left: -49px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    position: absolute;
  }
}
.myOl {
  height: 100%;
  margin: auto;
  width: 50%;
  margin-top: 15px;
  border-radius: 6px;
  list-style-type: none;
}

li {
  margin-top: 10px;
  font-size: 24px;
}

.close {
  display: none;
  margin-top: 18px;
  background: none;
  border: none;
  width: 30px;
  height: 16px;
  border: none;
  cursor: pointer;
  background-image: url("../pngegg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.container:hover .close {
  display: block;
}
